.version.index /* version checker */
{
	color: #000012;
	background-color: #B1AB18;
}

.html
{
	background: #FFFFFF url("../images/firstpage.png") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 508.9499999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.grow
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -111px;
	padding-bottom: 62px;
	width: 0.01px;
}

#begin
{
	margin-left: 492px;
	position: relative;
}

#u413-4
{
	z-index: 9;
	width: 214px;
	min-height: 39px;
	background-color: transparent;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 348px;
	left: 399px;
}

#u413
{
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u369
{
	z-index: 5;
	width: 226px;
	background-color: transparent;
	position: fixed;
	top: 387px;
	left: 379px;
}

#u369:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 226px;
	min-height: 0px;
	margin: 0px;
}

#u369:active
{
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	width: 226px;
	min-height: 0px;
	margin: 0px;
}

#u358
{
	z-index: 2;
	width: 180px;
	border-style: none;
	background-color: transparent;
	position: fixed;
	top: 399px;
	left: 100px;
}

#u358:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u358:active
{
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u358.MuseLinkActive
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u375
{
	z-index: 7;
	width: 186px;
	background-color: transparent;
	position: fixed;
	top: 402px;
	left: 704px;
}

#u375:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	width: 186px;
	min-height: 0px;
	margin: 0px;
}

#u375:active
{
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	width: 186px;
	min-height: 0px;
	margin: 0px;
}

#u307
{
	z-index: 4;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1092px;
	margin-top: 720px;
	position: relative;
}

#q1
{
	margin-left: 20px;
	margin-top: 120px;
	position: relative;
}

#u306-7
{
	z-index: 15;
	width: 663px;
	min-height: 68px;
	background-color: transparent;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 65px;
	position: relative;
}

#pu426
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 33px;
}

#u426
{
	z-index: 26;
	width: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u426:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 225px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u426:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 225px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u420
{
	z-index: 24;
	width: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u420:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 197px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u420:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 197px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u414
{
	z-index: 22;
	width: 202px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 587px;
}

#u414:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 202px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u414:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 202px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#q2
{
	margin-left: 20px;
	margin-top: 313px;
	position: relative;
}

#u432-7
{
	z-index: 28;
	width: 663px;
	min-height: 78px;
	background-color: transparent;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 61px;
	position: relative;
}

#pu433
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 27px;
}

#u433
{
	z-index: 35;
	width: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u433:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u433:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u439
{
	z-index: 37;
	width: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u439:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 111px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u439:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 111px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u445
{
	z-index: 39;
	width: 116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 367px;
}

#u445:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u445:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u451
{
	z-index: 41;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 531px;
}

#u451:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u451:active
{
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#q3
{
	margin-left: 20px;
	margin-top: 337px;
	position: relative;
}

#u481-9
{
	z-index: 43;
	width: 663px;
	min-height: 78px;
	background-color: transparent;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 49px;
	position: relative;
}

#pu482
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: -1px;
}

#u482
{
	z-index: 52;
	width: 171px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u482:hover
{
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	width: 171px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u482:active
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	width: 171px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u488
{
	z-index: 54;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 201px;
}

#u488:hover
{
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	width: 118px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u488:active
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	width: 118px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u494
{
	z-index: 56;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#u494:hover
{
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u494:active
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u500
{
	z-index: 58;
	width: 165px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 519px;
}

#u500:hover
{
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	width: 165px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u500:active
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	width: 165px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#q4
{
	margin-left: 16px;
	margin-top: 343px;
	position: relative;
}

#u506-9
{
	z-index: 60;
	width: 663px;
	min-height: 78px;
	background-color: transparent;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 71px;
	position: relative;
}

#pu513
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u513
{
	z-index: 71;
	width: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u507
{
	z-index: 69;
	width: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u513:hover,#u507:hover
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	width: 363px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu528
{
	width: 0.01px;
	margin-left: -119px;
	margin-top: 904px;
}

#u528
{
	z-index: 13;
	width: 1250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#end
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 143px;
}

#u534-4
{
	z-index: 75;
	width: 160px;
	min-height: 36px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	color: #534741;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 680px;
	left: 798px;
}

#u534-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 160px;
	margin: 680px -10000px 0px 0px;
}

#u534-4:hover p
{
	color: #534741;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 111px;
	padding-bottom: 34px;
}

#page .verticalspacer
{
	clear: both;
}

